# db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=

# discord auth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
TOKEN_SECRET_KEY=
DISCORD_GUILD_ID=

# URL
HOST_URL=http://localhost:8000
FRONTEND_HOST_URL=http://localhost:3000

# wasabi info
S3_BUCKET=
S3_DIR=test_assets
REGION_NAME=
ACCESS_KEY=
SECRET_ACCESS_KEY=