[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
pytest = "*"
requests = "*"
pylint = "*"
pydantic = {extras = ["email"], version = "*"}
sqlalchemy-utils = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.9"
